<!--camera page start-->
<div class="bar bar-header bar-light">
    <button class="button button-icon icon ion-android-home" ui-sref="Home"></button>
    <h1 class="title">Camera</h1>
</div>
<div class="row responsive-lg" id="CamBtn">
    <div class="col" style="text-align: center;">
        <button class="button button-outline button-royal ion-ios-camera-outline" > Camera</button>
        <div class="padding"></div>
        <button class="button button-outline button-energized ion-images" ui-sref="Gallery"> Gallery</button>
    </div>
</div>
<div class="bar bar-footer bar-positive">
    <div class="title"><h5>Copyright &#169; 2015 99X Technology &#124; Version 1.0.0</h5></div>
</div>
<!--camera page end-->