<!--gallery start-->
<div class="bar bar-header">
    <button class="button button-icon icon ion-navicon"></button>
    <div class="h1 title">Gallery</div>
    <button class="button button-icon icon ion-android-arrow-back"></button>
</div>
<ion-content>
    <div class="row responsive-lg list" id="glrImg">
        <div class="col" style="text-align: center;"><img src="img/ionic.png"></div>
        <div class="col" style="text-align: center;"><img src="img/ionic.png"></div>
        <div class="col" style="text-align: center;"><img src="img/ionic.png"></div>
        <div class="col" style="text-align: center;"><img src="img/ionic.png"></div>
        <div class="col" style="text-align: center;"><img src="img/ionic.png"></div>
        <div class="col" style="text-align: center;"><img src="img/ionic.png"></div>
        <div class="col" style="text-align: center;"><img src="img/ionic.png"></div>
        <div class="col" style="text-align: center;"><img src="img/ionic.png"></div>
    </div>
</ion-content>
<div class="bar bar-footer bar-positive">
    <div class="title"><h5>Copyright &#169; 2015 99X Technology &#124; Version 1.0.0</h5></div>
</div>
<!--gallery end-->