<!--gallery start-->
<ion-pane>
    <ion-header-bar class="bar bar-header">
        <button class="button button-icon icon ion-android-home" ui-sref="Home" ></button>
        <h1 class="title">Gallery</h1>
        <button class="button button-icon icon ion-android-arrow-back"  ui-sref="Camera"></button>
    </ion-header-bar>
    <ion-content ng-controller="MyCtrl" ng-init="loadImages()">
        <div class="row responsive-md">
            <div class="col col-25" ng-repeat="image in images">
                <img ng-src="{{image.src}}" width="100%" />
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-positive">
        <div class="title"><h6>Copyright &#169; 2015 99X Technology &#124; Version 1.0.0</h6></div>
    </div>
</ion-pane>
<!--gallery end-->