<!--home page start-->
<div class="bar bar-header bar-light">
    <h1 class="title">Home</h1>
</div>
<div class="list" id="HomeItm">
    <a class="item item-thumbnail-left" href="#">
        <img src="../img/logo.png">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
        <img src="../img/logo.png">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
        <img src="../img/logo.png">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
    </a>
</div>
<div class="bar bar-footer bar-positive">
    <div class="title"><h5>Copyright &#169; 2015 99X Technology &#124; Version 1.0.0</h5></div>
</div>
<!--home page end-->